name: Android CI

on:
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    # Github Repository Secrets를 통해 환경 변수 파일을 생성합니다.
    - name: Generate Environment Variables File for Production
      env:
        BASE_URL: ${{ secrets.BASE_URL }}
        KAKAO_O_AUTH: ${{ secrets.KAKAO_O_AUTH }}
        kakao_o_auth_scheme: ${{ secrets.KAKAO_O_AUTH }}
        KAKAO_APP_KEY: ${{ secrets.KAKAO_APP_KEY }}
      run: |
        echo BASE_URL=\"$BASE_URL\" >> ./local.properties
        echo KAKAO_O_AUTH=\"$KAKAO_O_AUTH\" >> ./local.properties
        echo KAKAO_APP_KEY=\"$KAKAO_APP_KEY\" >> ./local.properties
    - name: Build with Gradle
      run: ./gradlew build
